<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>


<body>
    <%- include("component/_nav", {current: current})%>
    <section class="page-title block-margin narrow">
        <h1>works</h1>
    </section>
    <section class="cates-list block-margin narrow">
        <ul>
            <li><a href="./categories.html"><span class="cate-ch">主視覺</span><span class="cate-en">KeyVisual</span></a>
            </li>
            <li><a href="./categories.html"><span class="cate-ch">購買點展示設計</span><span class="cate-en">POSM</span></a>
            </li>
            <li><a href="./categories.html"><span class="cate-ch">包裝設計</span><span class="cate-en">Package</span></a>
            </li>
            <li><a href="./works.html"><span class="cate-ch">所有專案</span><span class="cate-en">All Works</span></a>
            </li>

        </ul>
    </section>
    <section class="works block-margin wide main-section-margin">
        <div class="container">
            <div class="work-block">
                <div class="work-block__title">
                    <h1>Zespri 奇異果購物袋</h1>
                    <p>Zespri 包裝設計</p>
                </div>

                <div class="work-block__img">
                    <% for(var i = 0; i< 10; i++) { %>
                    <%- include('component/_categories-img', {cateImg: cateImgs.zespri}) %>
                    <% } %>
                </div>


            </div>
            <div class="work-block">
                <div class="work-block__title">
                    <h1>Zespri 奇異果購物袋</h1>
                    <p>Zespri 包裝設計</p>
                </div>

                <div class="work-block__img">
                    <% for(var i = 0; i< 10; i++) { %>
                    <%- include('component/_categories-img', {cateImg: cateImgs.zespri}) %>
                    <% } %>
                </div>


            </div>
        </div>
    </section>
    <%- include('component/_footer'); %>

</body>

</html>