<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('component/_head', {current: current}); %>
</head>

<body class="<%= current%>" id="<%= current%>">
    <svg class="clip-path">
        <clipPath id="clip-path">
            <polygon
                points="197.8,69.4 175.4,30.6 122.4,61.3 122.4,0 77.6,0 77.6,61.3 24.6,30.6 2.2,69.4 55.2,100 2.2,130.6 24.6,169.4 77.6,138.8 77.6,200 122.4,200 122.4,138.8 175.4,169.4 197.8,130.6 144.8,100" />
        </clipPath>

    </svg>
    <div id="top-btn" class="top-btn">
        <div>
            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px" y="0px" viewBox="0 0 100 100">
                <polyline fill="none" stroke="#ec6c1f" stroke-width="10" stroke-miterlimit="10"
                    points="13.5,63.1 50,36.9 86.5,63.1 " />
            </svg>
        </div>
    </div>

    <%- include("component/_nav", {page: page})%>
    <section class="visual">
        <div id="visual-wrapper" class="visual-wrapper">
            <svg class="visual-border loading-stroke" viewBox="0 0 256 256">
                <polygon
                    points="221.4,98.6 199.9,61.4 149,90.8 149,32 106,32 106,90.8 55.1,61.4 33.6,98.6 84.5,128 33.6,157.4 55.1,194.6 106,165.2 106,224 149,224 149,165.2 199.9,194.6 221.4,157.4 170.5,128 "
                    stroke="#ec6c1f" stroke-width="1%" fill="#ffffff00" />
            </svg>
            <div class="video-clip" id="video">

                <video autoplay loop muted playsinline src="">
                </video>
                <div class="mask"></div>
            </div>
        </div>
    </section>
    <section class="projects block-margin narrow">
        <% for(var i = 0; i< 4; i++) { %>


        <div class="project__item">
            <a href="project.html">
                <figure class="project-img filter">
                    <img src="./asset/img/projects/大專案_Edward/究極消臭大專案-首頁.jpg" class="filter-masking">
                </figure>
            </a>
            <div class="project-content">
                <h1 class="brand">白蘭</h1>
                <div class="line">
                    <svg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 10 10'>
                        <path d='M 10 0 L 0 10 ' fill='none' stroke-width='2%' stroke='#077579' /></svg>
                </div>
                <a href="project.html">
                <div class="title">
                    <h3>酵素超濃縮洗衣精</h3>
                    <span>聯合利華</span> <span>包裝設計</span>
                </div>
                </a>
            </div>
        </div>

        <% } %>


        <a href="projects.html">
            <div class="more">
                <h3>More Projects</h3>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 100 100">
                    <polyline class="arrow" stroke="#EC6C1F" fill="none" stroke-width="15" stroke-miterlimit="10"
                        points="32,10 71.8,49.8 32,89.6 " />
                </svg>
            </div>
        </a>

    </section>
    <section class="works block-margin narrow">
        <div class="work-container">
            <% for (var i = 0; i< 6; i++) {%>
            <figure>
                <%- include('component/_work-item', {workItem: workItem}) %>
            </figure>
            <% } %>


            <a href="./works.html">
                <figure class="work__item more">
                    <div class="filter">
                        <div class="title">
                            <h3>More Works</h3>
                            <svg version="1.1" id="" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                                class="more-btn">
                                <polyline fill="none" stroke="#ec6c1f" stroke-width="10" stroke-miterlimit="10"
                                    points="13.5,63.1 50,36.9 86.5,63.1 " class="arrow" />
                            </svg>
                        </div>
                    </div>
                </figure>
            </a>
        </div>
    </section>
    <section class="brands block-margin narrow">
        <div class="brands-container">
            <% for(var i = 0; i < 3; i++) { %>
            <figure class="brands-logo"><img src="./asset/logo/nestle-4.svg" alt=""></figure>
            <figure class="brands-logo"><img src="./asset/logo/unilever-2.svg" alt=""></figure>
            <% } %>
        </div>
    </section>
    <%- include('component/_footer'); %>

    <script src="script.js"></script>
</body>

</html>